@use "../../styles/partial/colors"as *;
@use '../../styles/partial/breakpoints'as *;


.chatbox {
    &__nav {
        display: flex;
        justify-content: flex-start;
        column-gap: 1rem;
        padding: 1rem;
        align-items: center;
    
        &-back-arrow {
            max-width: 38px;
            max-height: 38px;
        }
        &-avatar {
            max-width: 38px;
            max-height: 38px;
        }
        &-username {
            margin-left: 2rem;
        }
    }
    &__messages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $Message-background;
        padding: 8rem 2rem 1rem 2rem;
        row-gap: 0.5rem;
        overflow: scroll;
        max-height: 20rem;
    }
    &__message {
        border-radius: 20px;
        padding: 1rem;
        &--out{
            background-color: $Message-blue;
            color: $Primary-light;
            align-self: flex-end;
        }
        &--in {
            background-color: $Message-grey;
            color: $Primary-light;
            align-self: flex-start;
        }   
    }
    &__input {
        display: flex;
        justify-content: center;
        padding: 1rem;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        &-text {
            width: 100%;
            min-height: 4rem;
            padding: 1rem;
        }
        &-submit {
            margin: 1rem;
            &-holder {
                max-width: 5rem;
                max-height: 5rem;
                flex-basis: 100%;
                border-radius: 10px;
                &:hover {
                    background-color: $Secondary-light;
                    border-radius: 50%;
                }
            }
        }
    }
}

