@use '../../styles/partial/colors' as *;
@use '../../styles/partial/breakpoints' as *;
@use '../../components/Header/Header.scss' as *;


.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;

    &--show {
        opacity: 1;
        pointer-events: visible;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        background-color: $Primary;
        transition: all 0.3s ease-in-out;
        @include tablet {
            width: 60%;
        }
        @include desktop {
            width: 50%;
        }
    }



    &__header, &__footer {
        padding: 1rem;
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 5rem;
    }

    &__form {
        width: 100%;
    }

    &__body {
        width: 100%;
        padding: 1rem;
        border-top: 1px solid $Secondary-light;
        border-bottom: 1px solid $Secondary-light;
    }

    &__input {
        border-radius: 25px;
        padding: 0.5rem;
        width: 100%;
        &:focus {
            outline-color: $Tertiary;
        }
    }
}

.button-modal {
    flex-basis: 35%;
}
