// $Primary: #0336ff;
// $Primary-light: #6f62ff;
// $Primary-dark: #0007ca;
// $Secondary: #FFDE03;
// $Secondary-light: #ffff54;
// $Secondary-dark: #c7ad00;

// $Silver : #AFAFAF;
// $White: #FFFFFF;
// $Mercury : #E1E1E1;
// $Alabaster: #FAFAFA;

// $Message-blue: #1982FC;
// $Message-grey: #3b3b3d;
// $Message-background: #1e1e1e;


$Primary: #F8F8F8;
$Primary-light: #FFFFFF;
$Secondary: #000000;
$Secondary-light: rgba(0, 0, 0, 0.3);
$Tertiary: #eebc42;

$Silver : #AFAFAF;
$White: #FFFFFF;
$Mercury : #E1E1E1;
$Alabaster: #411a1a;

$Message-blue: #1982FC;
$Message-grey: #3b3b3d;
$Message-background: #1e1e1e;