@use '../partial/colors' as *;
@use '../partial/breakpoints' as *;


.button {
    flex-shrink: 0;
    flex-basis: 50%;
    width: 50%;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    background-blend-mode: difference;
    background-color: black;
    margin-bottom: 0.5rem;

    &:hover {
        background-color: $Primary;
        color: $Secondary;
    }

    @include tablet {
        flex-basis: 65%;
        margin-bottom: 2rem;
    }
}