@use "../../styles/partial/colors"as *;
@use '../../styles/partial/breakpoints'as *;

.connection {
    padding: 0.5rem;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: $Secondary;
    flex-basis: 95%;
    flex-shrink: 0;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        column-gap: 0.2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 1rem;
        flex-basis: 100%;
    }
    &__avatar {
        max-width: 38px;
        max-height: 38px;
    }
    &__username {
        flex-basis: 100%;
        margin-bottom: 0.5rem;
    }

    &__delete {
        background: none;
        border: none;
        position: absolute;
        right: 1rem;
        top:3rem;
        @include tablet {
            font-size: 1.2rem;
            right: 3rem;
        }
        @include desktop {
            right: 5rem;
        }
    }
}