@use "../../styles/partial/colors"as *;
@use '../../styles/partial/breakpoints'as *;



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $Primary;
    width: 100%;
    padding-bottom: 2rem;

    &__logo {
        width: 70vw;
        padding-bottom: 0.2rem;

        @include tablet {
            width: 40vw;
        }
    }
}

.navbar {
    display: flex;
    justify-content: center;
    column-gap: 4rem;

    @include tablet {
        column-gap: 10rem;
    }

    &__link {
        flex-shrink: 0;
        flex-basis: 50%;
        width: 50%;
        text-decoration: none;
        color: white;
        padding: 0.5rem;
        border-radius: 20px;
        background-blend-mode: difference;
        background-color: black;
        margin-bottom: 0.5rem;

        &:hover {
            background-color: $Primary;
            color: $Secondary;
        }

        @include tablet {
            flex-basis: 65%;
            margin-bottom: 2rem;
        }
    }
}