@use "../../styles/partial/colors"as *;
@use '../../styles/partial/breakpoints'as *;
@use '../../styles/partial/global' as *;



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $Primary;
    width: 100%;
    padding-bottom: 2rem;
    max-height: 11rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
        padding-left: 2rem;
        align-items: flex-end;
    }

    &__logo {
        width: 50vw;
        padding-bottom: 0.2rem;

        @include tablet {
            width: 25vw;
        }
    }
}

.navbar {
    display: flex;
    justify-content: center;
    column-gap: 4rem;

    @include tablet {
        column-gap: 2rem;
        justify-content: flex-end;
        margin-right: 2rem;
    }

    &__link {
        @include tablet {
            flex-basis: 90%;
        }
    }

}



