@use './styles/partial/breakpoints' as *;
@use './styles/partial/colors' as *;

*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  position: relative;
  background-color: $Primary-light;
  max-height: 100vh;
}

.card {
  width: 95%;
  height: fit-content;
  background-color: $Primary-light;
  position: relative;
  top: -1rem;
  border-radius: 10px;
  border: 1px solid $Secondary;

  @include tablet{
    top: -2rem;
    width: 80%;
  }

}

