@use '../../styles/partial/colors' as *;

.login {
    background: url(../../assets/Images/loginScrren.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        font-size: 3rem;
        font-weight: 500;
        padding: 1rem;
        color: $Primary;
    }
}

.blink {
    animation: blinker 5s cubic-bezier(.69,.21,.16,.67) infinite;
}

@keyframes blinker {
    70% {
      opacity: 0;
    }
  }
  